@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body {
   
    background-color: #E2D9CD;
    font-family: "fondamento";
    color: #392E26;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;

}

img {
    width: auto;
    height: auto;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;

    float: left;
    margin: 5px;
    padding: 5px;
}

video {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
     margin: auto;
}

#article__image--center {
    width: 60%;
    height: 20%;
    align-self: flex-start;

}
header {
    width: 98%;
    background-color: #B6A593;
    margin: auto;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}


h1 {
    margin-top: 5px;
    padding-top: 10px;
    font-size: 8vw;
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

a {

    text-decoration: none;
    margin: 5px;;
    padding: 2px;
    box-sizing: border-box;
    color:#392E26;
    font-size: 2vw; 
}

nav > a {
    background-color: #E2D9CD;
    border-style: groove ;
    border-color: #6B5B4D;
    text-decoration: none;
    margin: 5px;;
    padding: 2px;
    border-top: none;
    border-right:none;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    color:#392E26;
    border-radius: 10%;
    font-size: 3vw;
}
nav {
    justify-content: right;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 auto;
    border-style: solid;
    align-items: center;
    margin-top: 5rem; 
    padding-bottom : 10px;


    border: 1px  #6B5B4D; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 80%; 
    margin: 0 auto; 
    background-color: #B6A593;
    margin-bottom: 10px;
}
main {
    max-width: 100%;
    padding: 0%;
}

a:hover, a:active {
    color:white;
}

article img {

    float: left;
    width: 50%;
    height: 50%;
    margin: auto;
}

article > p {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    flex-shrink: 1;
    padding-top: 3%;
    padding-left: 5px;
    padding-bottom: 0px;

}
footer {
    display: flex;
    background-color: #B5BDAC;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box; 
    max-width: 100%;
}

address {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 2vw;
}

address p {
    font-size: 2vw;
}

address > a{
    color:#392E26;
    padding: 5px;
    font-size: 2vw;
}

footer > a {
    font-size: 2.5vw;
    margin-left: 10%;
    margin-right: 20vw;

    padding-right: 10px;
    text-decoration: none;
    color: #E2D9CD;
    background-color:#392E26;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#main__image--big {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    height: 100%;
    justify-items: center;

}

h2 {
    padding-left: 20px;
    padding: 10px;
    background-color: #392E26;
    color: #E2D9CD;
    margin: auto;
    font-size: 4vw;
}

p {
    font-size: 3vw;
    font-family:"Montserrat Alternates";
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
}

#article__text--center {
    display: flex;
    max-width: 40%;
    padding-top: 10px;
}

.figure__image {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 400px;
    height: auto;
    align-content: center ;
    object-fit:contain;
    margin: 20px;
}

h2 + img {
    margin: auto;
    width: 80%;
    height: 60%;
}

header + h1 {
    font-size: 3.8vw;
    margin: auto;
}

figure{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    font-size: 2vw;
    border-style: outset;
    border-color: #392E26;
    background-color:#B6A593;
    margin-bottom: 20px;
}

#article--card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#article__text--center {
     max-width: 80vw;
     margin:10px;
}

#article__header {
    margin-top: 5%;
    border-radius: 10px;
    justify-content:flex-start ;
    max-width: 30vw;
}
img + a {
    text-decoration: none;
    color:#392E26;
}
p > a {
    font-size: 2vw;
    font-style: italic;
    text-decoration: none;
    text-decoration-line: underline;
}
.main__article--card {
    flex-wrap: nowrap;

}

.body__article h3 {
    font-size: 3vw;
    padding: 0px;
    margin: auto;
    justify-items: center;
}
.body__article > img {
    display: flex;
    width: 70%;
}
#body__article--text {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-right: 5%;
    justify-content: center;
}
#body__video {
    display: flex;
}

.container{
    display: block;
}
.imgs {
    width: 600px;
    height: 500px;
    margin: auto;
    display: block;
    margin-right: 10%;
    margin-left: 10vw;
}

.button{
    width: 40vw;
    background-color: #E2D9CD;
    border-color: #392E26;
   
}


.figure__image {
    width: 100%;
    max-height: 100%;
       /* margin: auto; */
       aspect-ratio: 1/1 ;
       object-fit: cover;
       object-position: top;
   
   }
   
   .img_slider {
       position: relative;
   }
   
   .img_box {
       position: relative;
       display: inline-block;
       /* width: 70%; */
   }
   
   .button-container {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       padding: 10px;
   }
   
   .btn {
       background-color: #3a281c;
       color: #E2D9CD;
       border: none;
       padding: 10px;
       cursor: pointer;
       border-radius: 10px;
       border-style:groove
   }
   
   .btn {
       margin: 5px;
   }


@media only screen and (max-width: 766px) {

    #article__header {
        padding-left: 20%;
        margin-right: 3%;
    }

nav {
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
    height: 80vh;
    width: 50vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #392E26;
    transition: top 1s ease;
    display: none;
    color: #E2D9CD;

}
nav .mainMenu .closeMenu {
    display: block;
    position:absolute;
    top: 20px;
    right: 20px;
}
nav .openMenu {
    display: block;

}
i {
    display: inline-block;
    padding: 12px;
    font-size: 1.8rem;
}

nav .mainMenu li a:hover {
    background: none;
    color: #B5BDAC;
    font-size: 1.6rem;
}
nav .mainMenu li a{
    color: #E2D9CD;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

}


@media only screen and (min-width: 767px) {
 
    .figure__image{
        width: 300px;
        height: 400px;
    }
    .fa{
        display: none;
        visibility: hidden;
    }
    li {
        display: inline-block
    }
    #article--card {
        display: flex;
        flex-wrap: wrap;
    }
    #article__image--center {
        width: 45%;
        margin: 5px;
        padding: 5px;
    }
    #article__text--center {
        width: 45%;
        flex-wrap: nowrap;
        flex-direction: column;    
    }
   
    #article__text{
        margin: auto;
        width: 100%;
    }

    .article{
        display: flex;
        flex-wrap: wrap;
        padding: 5px; 
        align-items: center;
        max-height: 100%;
        max-width: 100%;
        margin: 5px;
        height: 100%;
        width: 100%;
    }
  
    .main__article--card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 auto;
        justify-content: space-around;
        align-content: space-around;
        margin-top: 1%;
        margin-bottom: 1%;
        height: 100%;
        max-width: 100%;
    }

    .main__article--card article {
        padding: 5px;
        margin: 1%;
        max-width: 45%;
    }

    h3 {
        font-size: 1.4rem;
        padding: 5px;
        margin: 5px;
    }

    h1 {
        font-size: 3.8rem;
    }
    nav a {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2.7rem;

    }
    article p {
        font-size: 1.2rem;
        margin: 5px;
        padding: 5px;
    }
   
    .article__image--small {
            width: 90%;
            height: 95%;
            padding: 5px;
    } 
}
@media screen and (min-width: 1023px) {

    .main__article--card article {
        display: flex;
        flex-wrap: wrap;
        max-width: 30%;
    }   
}





